/*
#9FE4F4 - 1 - azul - hover
#CECECE - 2 - cinza claro - bg2 text1
#575757 - 3 - cinza - bg nav
#333333 - 4 - preto - bg1 text2
#EFBB40 - 5 - amarelo - copy text
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    scroll-behavior: smooth;
}
/* ----------------------------- nav bar ---------------------------*/
nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 1000;
}

.nav-list {
    margin: 0;
    display: 0;
    display: flex;
}

.nav-list li {
    list-style: none;
    margin: 0 30px;
    transition: 0.5;
}

.nav-list li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    color: #9FE4F4;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav-list:hover li a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

.nav-list li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

.nav-list li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #575757;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

.nav-list li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #9FE4F4;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 970px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        right: 0;
        width: 25vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: trasform 0.3s ease-in;
        background: #333333;
    }

    .nav-list li a {
        font-size: 12px;
    }

    .mobile-menu {
        display: block;
        margin-left: auto;
    }
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active {
    background: #333333;
    z-index: 1000;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
/* ----------------------------- fim nav bar ---------------------------*/
/* ----------------------------- section resumo -------------------------------*/
section{
    min-height: 100vh;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #333333;
}

.banner .img-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .img-sidebar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content-box {
    position: absolute;
    top: auto;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    page-break-after: auto;
}

.text-perfil {
    margin: 50px;
    text-align: justify;
    color: #CECECE;
}

.logo-text {
    position: absolute;
    top: 120px;
    left: 0;
    font-size: 1.2em;
    margin-left: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #575757;
    padding: 2px;
    color: #9FE4F4;
}

.banner .content-box h4 {
    font-size: 1.5em;
    color: #9FE4F4;
    font-weight: 300;
}

.banner .content-box h4 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner .content-box h2 {
    font-size: 2em;
    line-height: 1em;
}

.banner .content-box p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}
/* ----------------------------- fim da section resumo ---------------------------*/
/* ----------------------------- section sobre ----------------------------------*/
.title {
    width: 100%;
    text-align: left;
}

.title h2 {
    position: absolute;
    color: #9FE4F4;
    font-size: 1.6em;
    font-weight: 700;
    margin: 5px;
    padding: 2px;
    background: #575757;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sobre .title p {
    max-width: 1000px;
    display: inline-block;
    color: #333333;
    margin-top: 60px;
    margin-bottom: 60px;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    bottom: -10px;
    width: 600px;
    height: 4px;
    background: #9FE4F4;
}

.sobre {
    background: #CECECE;
}

.sobre .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sobre .content .text-box {
    min-width: 70%;
    width: 70%;
}

.sobre .content .text-box p {
    padding: 15px;
    text-align: justify;
    color: #333333;
    margin-left: 40px;
}

.sobre .content .img-box {
    margin-right: auto;
    margin-left: auto;
}

.sobre .content .img-box img {
    max-width: 100%;
}
/* ----------------------------- fim da section sobre --------------------------*/
/* ----------------------------- section habilidades --------------------------*/
.habilidades {
    background: #333333;
}

.habilidades .title p {
    max-width: 1000px;
    display: inline-block;
    color: #CECECE;
    margin-top: 60px;
    margin-bottom: 60px;
}

.habilidades .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades .content .habilidades-box {
    padding: 40px 50px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #CECECE;
    border-radius: 50px;
}

.habilidades .content .habilidades-box:hover {
    background: #575757;
}

.habilidades .content .habilidades-box img {
    max-width: 80px;
    transition: 0.5s;
}

.habilidades .content .habilidades-box:hover img {
    filter: invert(1);
}

.habilidades .content .habilidades-box h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}

.habilidades .content .habilidades-box:hover h2 {
    filter: invert(1);
}

.habilidades .content .habilidades-box p {
    margin: 0;
    transition: 0.5s;
}

.habilidades .content .habilidades-box:hover p {
    filter: invert(1);
}
/* ----------------------------- fim da section habilidades-------------------*/
/* -----------------------------section trabalhos----------------------------*/

.trabalhos {
    background: #CECECE;
}

.trabalhos .title p {
    max-width: 1000px;
    display: inline-block;
    color: #333333;
    margin-top: 60px;
    margin-bottom: 60px;
}

.trabalhos .card {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    margin: 30px 50px 30px 50px;
    transition: 0.5;
}

.trabalhos .card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.trabalhos .card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9FE4F4;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.trabalhos .card:hover .circle:before {
    background: #333333;
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 80%;
    filter: invert(1);
}

.card .content {
    position: relative;
    color: #CECECE;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2 {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}

.card .content p {
    margin: 10px 0;
    font-size: 0.8;
}

.card .content a {
    position: relative;
    color: #9FE4F4;
    padding: 10px 20px;
    border-radius: 10px;
    background: #575757;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
} 

@media (max-width: 991px) {
    
}
/* ----------------------------- fim da section trabalhos-------------------*/