:root {
    --main-color: #26d2f8;
    --bg-text-color: #cecece;
    --bg-text-color-alternative: #333333;
    --bg-color-nav: #575757;
    --copy-text-color: #efbb40;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* ----------------------------- nav bar ---------------------------*/
nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 1;
}

.nav-list {
    margin: 0;
    display: 0;
    display: flex;
}

.nav-list li {
    list-style: none;
    margin: 0 30px;
    transition: 0.5;
}

.nav-list li a {
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 900;
    padding: 5px;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    color: var(--main-color);
    text-transform: uppercase;
    transition: 0.5s;
}

.nav-list:hover li a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
}

.nav-list li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

.nav-list li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color-nav);
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

.nav-list li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--main-color);
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active {
    background: var(--bg-text-color-alternative);
    z-index: 1;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
/* ----------------------------- fim nav bar ---------------------------*/
/* ----------------------------- section resumo -------------------------------*/
section {
    min-height: 100vh;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-text-color-alternative);
}

.banner .img-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .img-sidebar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content-box {
    position: absolute;
    top: auto;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    page-break-after: auto;
}

.text-perfil {
    margin: 50px;
    text-align: justify;
    color: var(--bg-text-color);
}

.logo-text {
    position: absolute;
    top: 70px;
    left: 0;
    font-size: 1.2em;
    margin-left: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--bg-color-nav);
    padding: 2px;
    color: var(--main-color);
}

.banner .content-box h4 {
    font-size: 1.5em;
    color: var(--main-color);
    font-weight: 300;
}

.banner .content-box h4 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner .content-box h2 {
    font-size: 2em;
    line-height: 1em;
}

.banner .content-box p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}
/* ----------------------------- fim da section resumo ---------------------------*/
/* ----------------------------- section sobre ----------------------------------*/
.title {
    width: 100%;
    text-align: left;
}

.title h2 {
    position: absolute;
    color: var(--main-color);
    font-size: 1.6em;
    font-weight: 700;
    margin: 5px;
    padding: 2px;
    background: var(--bg-color-nav);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sobre .title p {
    max-width: 1000px;
    display: inline-block;
    color: var(--bg-text-color-alternative);
    margin-top: 60px;
    margin-bottom: 60px;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    bottom: -10px;
    width: 600px;
    height: 4px;
    background: var(--main-color);
}

.sobre {
    background: var(--bg-text-color);
}

.sobre .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sobre .content .text-box {
    min-width: 70%;
    width: 70%;
}

.sobre .content .text-box p {
    padding: 15px;
    text-align: justify;
    color: var(--bg-text-color-alternative);
    margin-left: 40px;
}

.sobre .content .img-box {
    margin: auto;
}

.sobre .content .img-box img {
    max-width: 100%;
}
/* ----------------------------- fim da section sobre --------------------------*/
/* ----------------------------- section habilidades --------------------------*/
.habilidades {
    background: var(--bg-text-color-alternative);
}

.habilidades .title p {
    max-width: 1000px;
    display: inline-block;
    color: var(--bg-text-color);
    margin-top: 60px;
    margin-bottom: 60px;
}

.habilidades .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades .content .habilidades-box {
    padding: 40px 50px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: var(--bg-text-color);
    border-radius: 50px;
}

.habilidades .content .habilidades-box:hover {
    background: var(--bg-color-nav);
}

.habilidades .content .habilidades-box img {
    max-width: 80px;
    transition: 0.5s;
}

.habilidades .content .habilidades-box:hover img {
    filter: invert(1);
}

.habilidades .content .habilidades-box h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}

.habilidades .content .habilidades-box:hover h2 {
    filter: invert(1);
}

.habilidades .content .habilidades-box p {
    margin: 0;
    transition: 0.5s;
}

.habilidades .content .habilidades-box:hover p {
    filter: invert(1);
}
/* ----------------------------- fim da section habilidades-------------------*/
/* -----------------------------section trabalhos----------------------------*/

.trabalhos {
    background: var(--bg-text-color);
}

.colunas {
    column-count: 3;
}

.trabalhos .title p {
    max-width: 1000px;
    display: inline-block;
    color: var(--bg-text-color-alternative);
    margin-top: 60px;
    margin-bottom: 60px;
}

.trabalhos .card {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    margin: 6vh;
    transition: 0.5;
}

.trabalhos .card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.trabalhos .card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.trabalhos .card:hover .circle:before {
    background: var(--bg-text-color-alternative);
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 80%;
    filter: invert(1);
}

.card .content {
    position: relative;
    color: var(--bg-text-color);
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2 {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}

.card .content p {
    margin: 10px 0;
    font-size: 0.8;
}

.card .content a {
    position: relative;
    color: var(--main-color);
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--bg-color-nav);
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

@media (max-width: 991px) {
}
/* ----------------------------- fim da section trabalhos-------------------*/
/* ----------------------------- section contato----------------------------*/

.contato {
    background: var(--bg-text-color-alternative);
}

.contato .title p {
    max-width: 1000px;
    display: inline-block;
    color: var(--bg-text-color);
    margin-top: 60px;
    margin-bottom: 60px;
}

.contato .contatoForm {
    display: inline-block;
    width: 35%;
    padding: 20px;
    margin-left: 30%;
}

.contatoForm .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.contatoForm .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.contatoForm .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--main-color);
}

.contatoForm .row100 .inputBox input,
.contatoForm .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.contatoForm .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.contatoForm .row100 .inputBox input:focus + .text,
.contatoForm .row100 .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}

.contatoForm .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.contatoForm .row100 .inputBox input:focus ~ .line,
.contatoForm .row100 .inputBox input:valid ~ .line {
    height: 100%;
}

.contatoForm .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.contatoForm .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.contatoForm .row100 .inputBox textarea:focus + .text,
.contatoForm .row100 .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}

.contatoForm .row100 .inputBox textarea:focus ~ .line,
.contatoForm .row100 .inputBox textarea:valid ~ .line {
    height: 100%;
}

input[type='submit'] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: var(--main-color);
    color: var(--bg-text-color-alternative);
    font-size: 18px;
    border-radius: 2px;
}
/* ----------------------------- fim da section contato--------------------*/

.redes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.redes ul {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
}

.redes ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: var(--bg-text-color-alternative);
}

.redes ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: var(--bg-text-color-alternative);
    font-size: 30px !important;
}

.redes ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.redes ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

.redes ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

.redes ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

.redes ul li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.2;
}
/* ----------------------------- Responsivo --------------------*/

@media (max-width: 1700px) {
    .colunas {
        column-count: 2;
    }

    .trabalhos .card {
        width: 80%;
        margin: 10vh;
    }
}

@media (max-width: 970px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        right: 0;
        width: 50vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: trasform 0.3s ease-in;
        background: var(--bg-text-color-alternative);
    }

    .nav-list li a {
        font-size: 12px;
    }

    .mobile-menu {
        display: block;
        margin-left: auto;
    }

    .banner .content-box {
        position: relative;
    }

    .banner .img-sidebar img {
        display: none;
    }

    .banner .content-box {
        width: 100%;
    }

    .logo-text {
        left: 0px;
        top: 15px;
    }

    .sobre .content {
        flex-direction: column;
    }

    .sobre .content .text-box p {
        margin-left: 0;
    }

    .sobre .content .text-box {
        width: 100%;
    }

    .sobre .title p {
        margin-bottom: 0px;
    }

    .sobre .content .img-box img {
        margin-bottom: 20px;
    }

    .trabalhos .card {
        width: 80%;
    }

    .colunas {
        column-count: 1;
    }
}

@media (max-width: 650px) {
    .redes ul {
        width: 100%;
    }

    .trabalhos .card {
        margin: 0;
        margin-bottom: 10vh;
        width: 100%;
        height: 120%;
    }
}
